.cardOutside{

    margin: 1rem;
    border: 6px solid  #03e9f4;
    border-style: outset;
}
.cardImg{
    padding: 6px;
    border: 6px solid rgb(97, 174, 184);
    border-style: inset;
}
.cardText{
    padding: 6px;
    border: 6px solid rgb(97, 174, 184);
    border-style: inset;
}
.cardTitle{
    padding: 6px;
    border: 6px solid  #03e9f4;
    border-style: outset;
}