.Tittle{
    text-align: center;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: black 3%;
    margin-top: 2vw;

}
.Text{
    text-align: left;
    font-size: 2vw;
     font-family:'Times New Roman', Times, serif;
     text-shadow: black;
     margin: 1vw;
}

.header{
    margin: 5vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:blue;
    font-size: 2vw;
}
