.Tittle{
    text-align: center;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: black 3%;
    margin-top: 2vw;

}
.Text{
    text-align: left;
    font-size: 2vw;
     font-family:'Times New Roman', Times, serif;
     text-shadow: black;
     margin: 1vw;
}

.header{
    margin: 5vw;
    text-align: center;
    font-family: Tahoma;
    color:#00143B;
    font-size: 2vw;
    font-weight: bold;

}
.h1{
     font-weight: bold;
     font-family: Tahoma;
}
.a{
    font-size: 5vw;
}

.carousel{
    width: 29vw;
    height:  43vw;
    margin-bottom: 3vw;
    margin-left: 18vw;
}