.container-profile{
    width: 35rem;
    height: 25rem;
    // border: 3px solid rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    margin-top:  4rem;
    margin-bottom: 4rem;
    z-index: 10;
    position: relative;
    box-shadow: 2px 5px 5px 5px rgba(149, 218, 236, 0.582);



    .perfil-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        span{
            padding: 0.5rem;
            color: rgb(48, 197, 235);
        }
        .name{
            
            text-transform: capitalize;
        }

        .profile-photo{
            height: 6rem;
            width: 6rem;
            border-radius: 999px;

        }
        span input{
            margin-left: 1rem;

        }
    }
    
}



/* Media queries */

@media (max-width: 900px) { 

    .container{   
    width: 90%;
}

}