.container{
    width: 30rem;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    margin-top:  4rem;
    margin-bottom: 4rem;
    
}
.picture{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.733);
    margin-top: 1rem;
    
}
.headerInfo{
    display: flex;
    

}
.roles{
    margin-top: 3rem;
    margin-left: 5rem;
    font-weight: 600;
    
}
.info{
    display: flex;
    flex-direction: column;
   
}
.info span {
    margin-top: 3rem;
    font-size: 18px;
    color: black;
    font-weight: 400;
    border-radius: 10px;
    
}


.boton{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.boton button{
    width: 6rem;
    background-color: rgba(62, 212, 62, 0.493);
    
}

.roles input{
    width: 15px;
    height: 15px;

    cursor: pointer;
    
}
.roles input:checked ~ .checkmark {
  background-color: rgb(42, 224, 87);
}


/*  */

@media (max-width: 900px) { 

    .container{   
    width: 90%;
}


.roles{
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: .8rem;  
}

.info span {
    margin-top: 3rem;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
    border-radius: 10px;
}
}