.container-servicios{
    background: linear-gradient(#ffffff 20%, #c8e7ec) no-repeat;
    
    .cardDeck{
       
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
        font-family: Verdana;

        .serviciosImage{
        width: 250px;
        height: 250px;
            
    }
    .link{
        margin-top: 20px;
        font-family: Verdana;
        font-size: 20px;
    }

    }
   
}
   