.serviciosContainer{

}

.serviciosContainer h1{
    font-weight: 400;
    width: 30rem;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 1px;
}

.divCenter{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.wrapper{
    border: 1px solid red;
}