.Container{
    border: 1px solid rgba(0, 0, 0, 0.411);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: translateY(5rem);
    width: 6rem;
    height: 5rem;
    position: absolute;
    display: flex;
    right: .5rem;
    /* width: 250px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    margin-top: 30px;
    transform:translateX(-85%); 
    position: relative;
    z-index: 998; */
    
}

.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    padding: .5rem;

}

.frame span {
    cursor: pointer;
}