.miniProfile{
    position: absolute;
    right: 4.5rem;
    background-color: white;
    border-radius: 99px;
    top: 3px;
}
.display-small-container{
    display: block;
}
.dropMenu{
    text-align: center;
    transform: translateX(-40px);
    font-size: 1.2rem;
    letter-spacing: 1px; 
}
.photo{
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 99px;
    border: 2px solid white;
}
.nav-profile-container{
    width: 30rem;
    display: flex;
    justify-content: flex-end;
}
.biUser{
    color: #03e9f4;
}
.biUser:hover{
    color: #03e8f4be;
}
.biUser::after{
    color: #03e9f4;
}
.biUser::before{
    color: #03e9f4;
}
@media (max-width: 900px) {

.mini-profile{
    width: 2.3rem;
    height: 2.3rem;
    border: 2px solid rgba(0, 0, 0, 0.644);
    bottom: 20px;

    right: .5rem;
}


}