.login-icon {
    position: relative;
    right: 30px;
    top: 10px;
    border-radius: 20px;
    border: 2px solid black;

    transition: .5s;
}

.login-icon:hover {
   box-shadow: 5px 5px black;
   transition: 1s;
   transform: translateY(5px);
}