.logout-icon {
    position: relative;
    right: 30px;
    top: 10px;
    border-radius: 20px;
    border: 6px solid rgb(206, 28, 28);
    height: 30px;
    transition: .5s;
}

.logout-icon:hover {
   box-shadow: 5px 5px black;
   transition: 1s;
   transform: translateY(5px);
}